<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:2345/bookstore</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">qbaosk20</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="generate_statistics">true</property>
        <property name="hbm2ddl.auto">update</property>
        <!--
            hbm2ddl.auto = update -> creates an entity if it does not exist
                         = create -> drops an entity when creating session and creates an entity
                         = create-drop -> as create but then drop on session close
        -->
        <mapping class="com.os.udemy.jpahibernate.domain.Message" />
        <mapping class="com.os.udemy.jpahibernate.domain.Person" />
    </session-factory>
</hibernate-configuration>
